# Bundle: {{.Name}}

**Version:** {{.Version}}

{{if .URL}}
**URL:** {{.URL}}
{{end}}

{{if .Description}}
## Description

{{.Description}}
{{end}}

{{if .SourceURL}}
**Source:** {{.SourceURL}}
{{end}}
