# Environment: {{.Name}}

**Slug:** {{.Slug}}

**Description:** {{.Description}}

## Packages
| Name | Bundle | Status |
| ---- | ------ | ------ |
{{- range .Packages}}
| **{{.Manifest.Name}}** | {{.Manifest.Bundle.Name}} | {{.Status}} |
{{- end}}

## Cost
**Monthly Average:** ${{.MonthlyAverageCost}}

**Daily Average:** ${{.DailyAverageCost}}
