# Environment: {{.Name}}

**ID:** {{.ID}}

**Description:** {{.Description}}

## Instances
| Name | Bundle | Status |
| ---- | ------ | ------ |
{{- range .Blueprint.Instances}}
| **{{.Name}}** | {{.Bundle.Name}} | {{.Status}} |
{{- end}}

## Cost
**Monthly Average:** {{with .Cost.MonthlyAverage.Amount}}${{.}}{{end}}

**Daily Average:** {{with .Cost.DailyAverage.Amount}}${{.}}{{end}}
