# Environment: {{.Name}}

**ID:** {{.ID}}

**Description:** {{.Description}}

**Attributes:**
{{- if .Attributes}}
{{- range $key, $value := .Attributes}}
- **{{$key}}:** {{$value}}
{{- end}}
{{- else}}
No attributes
{{- end}}

## Instances
{{- with .Blueprint}}
{{- if .Instances}}
| Name | Bundle | Status |
| ---- | ------ | ------ |
{{- range .Instances}}
| **{{.Name}}** | {{.Bundle.Name}} | {{.Status}} |
{{- end}}
{{- else}}
No instances
{{- end}}
{{- else}}
No instances
{{- end}}

## Cost
**Monthly Average:** {{with .Cost.MonthlyAverage.Amount}}${{.}}{{end}}

**Daily Average:** {{with .Cost.DailyAverage.Amount}}${{.}}{{end}}
