# Instance: {{.ID}}

**Bundle:** {{.Bundle.Name}}

**Environment:** {{.Environment.ID}}

**Status:** {{.Status}}

**Deployed Version:** {{if .DeployedVersion}}`{{deref .DeployedVersion}}`{{else}}N/A{{end}}

**Tags:**
{{- if .Tags}}
{{- range $key, $value := .Tags}}
- **{{$key}}:** {{$value}}
{{- end}}
{{- else}}
No tags
{{- end}}

**Parameters:**
```json
{{.ParamsJSON}}
```
