# Package: {{.Slug}}

**Bundle:** {{.Bundle.Name}}

**Environment:** {{.Environment.Slug}}

**Deployed Version:** {{if .DeployedVersion}}{{.DeployedVersion}}{{else}}N/A{{end}}

{{if .LatestDeployment -}}
## Latest Deployment

| Field | Value |
|-------|-------|
| ID | {{.LatestDeployment.ID}} |
| Status | {{.LatestDeployment.Status}} |
| Action | {{.LatestDeployment.Action}} |
| Version | {{.LatestDeployment.Version}} |
| Created At | {{.LatestDeployment.CreatedAt.Format "2006-01-02 15:04:05 UTC"}} |
{{end}}
{{- if .ActiveDeployment -}}
## Active Deployment

| Field | Value |
|-------|-------|
| ID | {{.ActiveDeployment.ID}} |
| Status | {{.ActiveDeployment.Status}} |
| Action | {{.ActiveDeployment.Action}} |
| Version | {{.ActiveDeployment.Version}} |
| Created At | {{.ActiveDeployment.CreatedAt.Format "2006-01-02 15:04:05 UTC"}} |
{{end}}
## Parameters
```json
{{.ParamsJSON}}
```
