# Project: {{.Name}}

**ID:** {{.ID}}

**Description:** {{.Description}}

**Attributes:**
{{- if .Attributes}}
{{- range $key, $value := .Attributes}}
- **{{$key}}:** {{$value}}
{{- end}}
{{- else}}
No attributes
{{- end}}

## Environments
{{range .Environments}}
- **{{.Name}}** ({{.ID}})
{{end}}

## Cost
**Monthly Average:** {{with .Cost.MonthlyAverage.Amount}}${{.}}{{end}}

**Daily Average:** {{with .Cost.DailyAverage.Amount}}${{.}}{{end}}
