# Project: {{.Name}}

**Slug:** {{.Slug}}

**Description:** {{.Description}}

## Environments
{{range .Environments}}
- **{{.Name}}** ({{.Slug}})
{{end}}

## Cost
**Monthly Average:** {{with .Cost.Monthly.Average.Amount}}${{.}}{{end}}

**Daily Average:** {{with .Cost.Daily.Average.Amount}}${{.}}{{end}}
