name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Generate docs
        run: go run main.go docs
      - name: Test for changes
        run: |
          if [ -n "$(git status --porcelain --untracked-files=no)" ]; then
            git status --porcelain --untracked-files=no
            echo "Generated docs changes not commited! Run 'mass docs' and commit changes"
            exit 1
          fi
